@model PrMngSystem.Models.Project

@{
    ViewBag.Title = "DeleteProject";
}

<div class="jumbotron jumbotron-fluid">
    <h2>Delete project</h2>
    <h3>Are you sure you want to delete this?</h3>
    <div class="form-horizontal" style="border: groove; border-color: darkseagreen">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.project_code)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.project_code)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.project_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.project_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.username)
            </dd>

        </dl>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-success" />
            </div>
        </div>
}
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        @Html.ActionLink("Back to Projects List", "Projects")
    </div>
}


<style>
    h2 {
        background-color: darkseagreen;
        color: white
    }
</style>
