@model IEnumerable<PrMngSystem.Models.Task>

@{
    ViewBag.Title = "Tasks";
}

<h2>Tasks</h2>

@*<p>

    @Html.ActionLink("Create New Task", "CreateTask", new { id = Model})
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project.project_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectStatu.status_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.progress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deadline)
        </th>
        <th>
            Assignee
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project.project_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ProjectStatu.status_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.progress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deadline)
        </td>
        <td>
            @if(item.assignee != null)
            {
                @Html.DisplayFor(modelItem => item.User.username)
                @*<button name="btnUnassign" id="btnUnassign" type="button" class="btn btn-success btn-sm">
                    Unassign
                </button>*@
                <a href="#" class="unassign-link" data-linkid="@Html.Raw(item.taskID)">Unassign</a>
            }
            else
            {
                @*<button name="btnAssign" id="btnAssign" type="button" class="btn btn-success btn-sm" onclick="unassign(item.User.userID)">
                    Assign
                </button>*@
                <a href="#" class="assign-link" data-linkid="@Html.Raw(item.taskID)">Assign</a>

                <div class="form-group">
                    <div class="col-md-10">
                        <div class="product-quantity" id="drpAssignee">
                            @Html.DropDownListFor(modelItem => item.assignee, ViewBag.Assignee as SelectList,
             "Select Developer", new { @class = "form-control"})
                            @Html.ValidationMessageFor(modelItem => item.assignee, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            }
            
        </td>
        <td>
            @Html.ActionLink("Edit", "EditTask", new { id = item.taskID }) |
            @Html.ActionLink("Delete", "DeleteTask", new { id = item.taskID })
        </td>
    </tr>
}

    <div>
        @Html.ActionLink("Back to Projects List", "Projects", "Project")
    </div>

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            var taskID = "";

            $("#drpAssignee").hide();

            $('.assign-link').click(function (e) {
                taskID = $(this).attr("data-linkid");
                console.log(taskID);
                $('#drpAssignee').show();
            });

            $('#drpAssignee').change(function (evt) {
                
                console.log(taskID);
                
                var username = $('#drpAssignee :selected').text();
                console.log(username);

                //var userID = $("#drpAssignee :selected").val();


                if (username != "") {

                    $.ajax({
                        url: "/Task/AssignTask",  
                        type: 'POST',
                        data: { id: taskID, assign: username  },
                        success: function (response) {
                            location.reload();               
                        },
                        error: function (xhr) {
                            alert("Something went wrong, please try again");
                        }
                    });
                }
            });

            $('.unassign-link').click(function (e) {
                var taskID = $(this).attr("data-linkid");
                console.log(taskID);

                $.ajax({
                    url: "/Task/UnassignTask",
                    type: 'POST',
                    data: { id: taskID },
                    success: function (response) {
                        location.reload();
                    },
                    error: function (error) {
                        alert("Something went wrong, please try again");
                    }
                });
            });
            //$('#btnUnassign').click(function() {
            //    var userID = $('#drpAssignee :selected').val();

                
            //});
        });

        
    </script>

}

