@model IEnumerable<PrMngSystem.Models.Task>

@{
    ViewBag.Title = "Tasks";
}

<h2>Tasks</h2>

@*<p>

    @Html.ActionLink("Create New Task", "CreateTask", new { id = Model})
</p>*@
<div class="wrapper">
    <div id="overlay">
        <table height=100% width=100%>
            <tr>
                <td align=center>
                    <h1>Please wait...</h1>
                </td>
            </tr>
        </table>
    </div>
    <div class="form-wrapper">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Project.project_code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectStatu.status_desc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.progress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.deadline)
                </th>
                <th>
                    Assignee
                </th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.project_code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectStatu.status_desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.progress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.deadline)
                    </td>
                    <td>
                        @if (item.assignee != null)
                        {
                            @Html.DisplayFor(modelItem => item.User.username)
                            <a href="#" class="unassign-link" data-linkid="@Html.Raw(item.taskID)">Unassign</a>
                        }
                        else
                        {
                            if (ViewBag.RoleID != 3)
                            {
                                <a href="#" class="assign-link" data-linkid="@Html.Raw(item.taskID)" id="@("assignLink" + item.taskID)">Assign</a>
                                <a href="#" class="cancel-link" data-linkid="@Html.Raw(item.taskID)" id="@("cancelLink" + item.taskID)" style="display: none;">Cancel</a>

                                <div class="form-group">
                                    <div class="col-md-10">
                                        <div class="drpAssignee" id="@("drpAssignee" + item.taskID)" style="display: none;">
                                            @Html.DropDownListFor(modelItem => item.assignee, ViewBag.Assignee as SelectList,
                                                "Select", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(modelItem => item.assignee, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                @*@Html.Raw(Html.ActionLink("Assign to me", "AssignTask", "Task", new { id = item.taskID, assign = User.Identity.Name }, null));*@
                                <a href="#" class="assignToMe-link" data-linkid="@Html.Raw(item.taskID)">Assign to me</a>

                            }

                        }

                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditTask", new { id = item.taskID })
                        @if (ViewBag.RoleID == 1)
                        {
                            @Html.ActionLink("Delete", "DeleteTask", new { id = item.taskID })
                        }
                    </td>
                </tr>
            }
            @if (!ViewBag.ReadonlyAssignee)
            {
                <div>
                    @Html.ActionLink("Go to Projects List", "Projects", "Project")
                </div>
            }

            <span class="hidenID" style="display: none;">@User.Identity.Name</span>


        </table>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            var taskID = "";

            //$('.hidenID').hide()
            //$("#drpAssignee").hide();

            $('.assign-link').click(function (e) {
                //debugger;
                taskID = $(this).attr("data-linkid");

                var linkID = "assignLink" + taskID;
                var dpID = "drpAssignee" + taskID;
                var cancelID = "cancelLink" + taskID;

                var elements = document.getElementsByClassName("drpAssignee");

                for (var i = 0; i < elements.length; i++) {
                    var elementID = elements[i].id;
                    var id = elementID.substring(11); //get ID after drpAssignee

                    if (elementID != dpID) {
                        elements[i].style.display = "none";
                        document.getElementById("assignLink" + id).style.display = "block";
                        document.getElementById("cancelLink" + id).style.display = "none";
                    } else {
                        elements[i].style.display = "block";
                        document.getElementById(linkID).style.display = "none";
                        document.getElementById(cancelID).style.display = "block";
                    }
                        
                }
                //$('.drpAssignee').hide(); 

                //var linkID = "assignLink" + taskID;
                //var dpID = "drpAssignee" + taskID;
                //var cancelID = "cancelLink" + taskID;
                //document.getElementById(dpID).style.display = "none";
                //document.getElementById(linkID).style.display = "block";
                //document.getElementById(cancelID).style.display = "none";

                //taskID = $(this).attr("data-linkid");

                //var linkID = "assignlink" + taskID;
                ////var dpid = "drpassignee" + taskid;
                //var cancelID = "cancellink" + taskID;
                //document.getElementById(dpID).style.display = "block"; 
                //document.getElementById(linkID).style.display = "none"; 
                //document.getElementById(cancelID).style.display = "block";

                //$('#drpAssignee').show();
            });

            $('.cancel-link').click(function (e) {
                //taskID = $(this).attr("data-linkid");

                var linkID = "assignLink" + taskID;
                var dpID = "drpAssignee" + taskID;
                var cancelID = "cancelLink" + taskID;
                document.getElementById(dpID).style.display = "none";
                document.getElementById(linkID).style.display = "block";
                document.getElementById(cancelID).style.display = "none";

                //$('#drpAssignee').show();
            });

            $('.drpAssignee').change(function (evt) {

                document.getElementById('overlay').style.display = 'block';

                var username = $('#drpAssignee' + taskID + ' :selected').text();

                //var userID = $("#drpAssignee :selected").val();


                if (username != "Select") {

                    $.ajax({
                        url: "/Task/AssignTask",  
                        type: 'POST',
                        data: { id: taskID, assign: username  },
                        success: function (response) {
                            document.getElementById('overlay').style.display = 'none';
                            location.reload();               
                        },
                        error: function (xhr) {
                            document.getElementById('overlay').style.display = 'none';
                            alert("Something went wrong, please try again");
                        }
                    });
                }
            });

            $('.assignToMe-link').click(function (e) {

                document.getElementById('overlay').style.display = 'block';

                taskID = $(this).attr("data-linkid");

                username = $('.hidenID').text();

                $.ajax({
                    url: "/Task/AssignTask",
                    type: 'POST',
                    data: { id: taskID, assign: username },
                    success: function (response) {
                        document.getElementById('overlay').style.display = 'none';
                        location.reload();
                    },
                    error: function (error) {
                        document.getElementById('overlay').style.display = 'none';
                        alert("Something went wrong, please try again");
                    }
                });
            });

            $('.unassign-link').click(function (e) {

                document.getElementById('overlay').style.display = 'block';

                var taskID = $(this).attr("data-linkid");

                $.ajax({
                    url: "/Task/UnassignTask",
                    type: 'POST',
                    data: { id: taskID },
                    success: function (response) {
                        document.getElementById('overlay').style.display = 'none';
                        location.reload();
                    },
                    error: function (error) {
                        document.getElementById('overlay').style.display = 'none';
                        alert("Something went wrong, please try again");
                    }
                });
            });
           
        });

        
    </script>
    <style type="text/css">
        /*#waiting-overlay {
            left: 0;
            position: absolute;
            top: expression(window.scrollTop);
            width: 100%;
            height: 100%;
            z-index: 900;
            background-color: #000;
            opacity: 0.4;
            filter: alpha(opacity=40);
            text-align: center;
            display: none;
        }*/

        .wrapper {
            position: relative;
        }

        #overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 900;
            background-color: #000;
            opacity: 0.4;
            display: none;
        }

    </style>
}

